html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
:root{
    --border: 1px solid rgba(0, 0, 0, 1);
    --con-height: 46rem;
    --border-radius: 0.5rem;
    --button-radius: 0.7rem;
    --categories-width: 19rem;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
}
#contentCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width:70rem;
    height:50rem;
    border: var(--border);
    border-radius: var(--border-radius);

}
#hubCon{
    width: 20rem;
    height: var(--con-height);
    border: var(--border);
    border-radius: var(--border-radius);
}
#hub{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: var(--con-height);
    padding: 0.5rem;
    gap: 0.5rem;
}
#categoriesCon{
    width: var(--categories-width);
    height: 45rem;
}
#categories{
    width: var(--categories-width);
    height: 41.5rem;
    border: var(--border);
    border-radius: var(--button-radius);
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.1);
}
#categoryButton{
    width: var(--categories-width);
    height: 3rem;
    border: var(--border);
    border-radius: var(--button-radius);
}
#categoryButton:hover{
    cursor: pointer;
}
.newTask{
    width: 19rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255,255,255,1);
    border-radius: var(--button-radius);
    cursor: pointer;
}
.newTask>h1{
    width: 18rem;
}
#hubFormCon{
    position:fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hubFormExit{
    position:fixed;
    width: 100vw;
    height: 100vh;
    z-index:1;
    background-color: rgba(0,0,0,0.5);
}
#hubForm{
    position:fixed;
    background-color: rgba(255,255,255,1);
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;
}
.blur{
    filter:blur(.2rem);
}
textarea{
    resize: none;
}
#priorityInput{
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, #00ff04,#ff7200,#ff0000);
    border-radius: 2rem;
    height: .4rem;
}
#priorityInput::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: #FFF;
    cursor: pointer;
}
#priorityInput::-moz-range-thumb{
    background: #FFF;
    cursor: pointer;
}
.priority{
    height: 3rem;
    width: 1rem;
    border-top-right-radius: var(--button-radius);
    border-bottom-right-radius: var(--button-radius);
}
.priority1{
    background-color: #00ff04;
}
.priority2{
    background-color: #ff7200;
}
.priority3{
    background-color: #ff0000;
}
#list{
    display:flex;
    flex-direction: column;
    width: var(--con-height);
    height: var(--con-height);
    border: var(--border);
    border-radius: var(--border-radius);
}
#infoCon{
    width: var(--con-height);
    height: 5rem;
    display: flex;
    flex-direction: column;
}
#headerCon{
    display: inherit;
    flex-direction: row;
    height: 5rem;
}
#title{
    width: 37rem;
    height: 3rem;
    padding: .2rem 0 .2rem .2rem;
    font-size: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
}
#description{
    font-size: 0.9rem;
    padding: .3rem 0 .3rem .2rem;
    height: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
}
#settingsCon{
    display: flex;
    flex-direction: column;
    width: 9rem;
}
#dueDateCon{
    width: inherit;
    height: 3rem;
    border: var(--border);
    border-radius: var(--border-radius);
}
#buttonsCon{
    display: flex;
    flex-direction: row;
    height: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    justify-content: right;
    align-items: center;
    gap: 0.2rem;
    padding: 0 0.3rem 0 0 ;
}
#buttonsCon > button{
    width: 1.5rem;
    height: 1.5rem
}
#tasksCon{
    width: var(--con-height);
    height: 41rem;
    border: var(--border);
    border-radius: var(--border-radius);
}
#toDoCon{
    height: 41rem;
    overflow:auto;
    overflow-x: hidden;
}
#toDoCon > div{
    display: flex;
    flex-direction: row;
}
.toDos{
    height: 2rem;
    width: var(--con-height);
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.toDos > p{
    width: var(--con-height);
}
.darken{
    background-color: rgba(0,0,0,0.5);
}